[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{kt,kts}]
indent_style = space
indent_size = 4
end_of_line = lf
max_line_length = 120
ij_visual_guides = 120
ktlint_code_style = android_studio
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ktlint_standard_trailing-comma-on-call-site = enabled
ktlint_standard_trailing-comma-on-declaration-site = enabled

ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_standard_no-empty-first-line-in-class-body = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_chain-method-continuation = disabled
ktlint_standard_class-signature = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_package-name = disabled

[**/{test,commonTest,androidHostTest,androidDeviceTest,iosTest,jvmTest}/**.kt]
max_line_length = off

[**Previews.kt]
max_line_length = off
