# Android / Gradle
.gradle/
build/
captures/
.cxx/
local.properties
*.apk
*.aab
*.ap_
*.dex
.kotlin/

# Secrets & Keys
*.jks
*.keystore
*.pepk
keystore/
keystore.properties
signing.properties
service_account_key.json
google-services.json
network_security_config_proxy_local.xml

# IDE / Android Studio
.idea/
*.iml
*.ipr
*.iws
out/
.artifacts/

# OS / Logs
.DS_Store
*.log
*.hprof
hs_err_pid*
replay_pid*

# Gradle Wrapper (necessário devido ao *.jar)
*.jar
!/gradle/wrapper/gradle-wrapper.jar
